$link-active-color: #fca203;
@mixin padding-left-right($value) {
 	padding-left: $value;
    padding-right: $value;
}
body {
	font-family: 'Raleway', sans-serif;
}

.nav-text-color {
	color: #343434;
}
ul.navbar-nav {
	li.nav-item {
		a:hover {
			color: $link-active-color !important;
		};
		a:focus {
			color: $link-active-color !important;
		};
		@include padding-left-right(12px);
	}
}
div.panel {
	width: 100%;
	height: 602px;
	margin-top: 46px;
	background-image: url('../images/panel.png');
	background-repeat: no-repeat;
}
.super-title {
	font-size: 30px;
	font-weight: 800;
	color: #fca301;
}
.content-div {
	padding: 45px 0px;
	height: initial;
}

.description {
	line-height: 1.6;
}

.margin-b0 {
	margin-bottom: 0px;
}

div#work-zone {
	div.info {
		line-height: 1.2;
		.title {

		}
	}
	div.image {
		background-image: url('../images/work-background.png');
		background-repeat: no-repeat;
		height: 420px;
	}
}
.center-block {
	margin: auto;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

div#tech-zone {
	.description {
		max-width: 60%;
    	margin: auto;
    	font-style: italic;
	}
	.tech-image {
		background-image: url('../images/tech.png');
		background-repeat: no-repeat;
		height: 479px;
	    margin: auto;
	    margin-top: 40px;
	    background-size: contain;
	}
	.tech-image2 {
		margin-top: 100px;
		height: 363px;
		background-color: #3a3b5a;
		.info {
			padding: 40px 0px;
		}
		p {
			text-align: right;
		}
		img.mobile {
			margin-top: -435px;
    		margin-left: 51px;
		}
		.slide-button {
			height: 100%;
			width: 40px;
			.slide {
				display: flex;
				float: right;
			    height: 100%;
			    justify-content: center;
			    flex-direction: column;
			    .item {
			    	cursor: pointer;
			    	height: 15px;
				    width: 15px;
				    margin: 5px;
				    border: solid 1px white;
				    border-radius: 50%;
				    &.selected {
				    	background-color: #fec34f !important;
				    }
			    }
			    .item:hover {
			    	background-color: rgba(255, 255, 255, 0.32);
			    }
			}
		}
	}
}

div#service-zone {
	.description {
		max-width: 60%;
    	margin: auto;
    	font-style: italic;
	}
	.service-images {
		margin-top: 35px;
		.row {
			padding: 15px 0px;
		}
	}
}

div#contact-zone {
	height: 212px;
	background-image: url('../images/contact-bgr.png');
	background-size: 100%;
	.contact {
		padding: 36px;
		font-size: 30px;
    	font-weight: bold;
    	color: white;
		width: 100%;
	    height: 100%;
	    background-color: rgba(0, 0, 0, 0.52);
	    p {
	    	font-size: 48px;
	    }
	    button {
	    	height: 58px;
	    	width: 203px;
	    	background-color: #eb8b3e;
	    	color: white;
		    position: relative;
		    float: right;
		    top: -90px;
		    right: 169px;
		    border: none;
		    cursor: pointer;
		    font-size: 20px;
	    }
	    button:focus {
	    	outline: none;
	    }
	}
}

.ws-footer {
	height: 135px;
	background-color: #eff4f8;
	.row {
		height: 100%;
	    width: 100%;
	    margin: 0px;
	}

	.ws-menu {
		width: 100%;
		height: 100%;
		padding: 34px 40px;
		
		ul {
			flex-direction: row;
		}
		img {
			margin-bottom: 10px;
		}
	}
	.ws-link {
		width: 100%;
		height: 100%;
		padding: 57px 70px;
		background-color: white;
		i {
			margin: 0px 10px;
			cursor: pointer;
		}
		i.fa-pinterest:hover {
			color: rgb(189, 8, 28);
		}
		i.fa-twitter:hover {
			color: #1da1f2;
		}
		i.fa-facebook:hover {
			color: #3b5998;
		}
		i.fa-google-plus:hover {
			color: #4285f4;
		}
		i.fa-linkedin:hover {
			color: #0177b5;
		}
	}
}

.color-white {
	color: white;
}

.text-slide {
	opacity: 1;
    -webkit-animation-name: opacity; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: opacity;
    animation-duration: 2s;
}